/* variaveis de cor */
:root {

    --undertale-bg: #000000;
    --undertale-card: #777;
    --undertale-orange: orange;
}











/* página toda*/
body {
    margin: 0;
    background: var(--undertale-bg);
    font-family: Arial, sans-serif;
    color: white;
}















/* navbar */
.navbar {
    width: 100%;
    height: 70px;
    background: #111;
    border-bottom: 3px solid var(--undertale-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoSite {
    background: white;
    color: black;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

.botaoNAVBAR {
    background: black;
    border: 2px solid var(--undertale-orange);
    color: var(--undertale-orange);
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.loginCadastro button {
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border: 2px solid var(--undertale-orange);
    background: black;
    color: var(--undertale-orange);
    font-weight: bold;
}











/* estilização das imagens do Mettatone Alphys */
.mettaton {
    position: absolute;
    left: 60px;
    top: 180px;
    height: 220px;
}

.alphys {
    position: absolute;
    right: 60px;
    top: 180px;
    height: 220px;
}







/* container onde tem o quiz */
.containerQuiz {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

















/* estilização das perguntas */
.caixaPergunta {
    width: 60%;
    margin: auto;
    background: var(--undertale-card);
    border-radius: 10px;
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
}

















/* estilização das respostas */
.areaRespostas {
    margin-top: 40px;
    padding: 20px;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.textoResp {
    font-size: 22px;
    margin: 0 10px;
}










/* estilização dos biotões NEXT e SELECT*/
.botoesNavegacao {
    margin-top: 25px;
    border: 3px solid white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.botaoNEXT,
.botaoSelecionar {
    background: black;
    border: 2px solid var(--undertale-orange);
    color: var(--undertale-orange);
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;

    transition: 0.2s;
}

.botaoNEXT:hover, /* aqui é a função que muda a cor do botão quando você passa o cursor em cia dele */
.botaoSelecionar:hover {
    background: var(--undertale-orange);
    color: black;
}














/* estilizaçãoo do gráfico e da página onde ele aparece */
#resultadoFinal {
    margin-top: 50px;
    text-align: center;
}

#resultadoFinal h1 {
    font-size: 40px;
    color: var(--undertale-orange);
}

#resultadoFinal h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

#graficoQuiz {
    filter: none;
}

