/*página toda */

body {
    margin: 0;
    background: black;
    font-family: Arial;
    color: white;
}

/*navbar*/

.navbar {
    width: 100%;
    height: 70px;
    background: #111;
    border-bottom: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoSite {
    background: white;
    color: black;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

.botaoNAVBAR {
    background: black;
    border: 2px solid orange;
    color: orange;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}


.loginCadastro button {
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border: 2px solid orange;
    background: black;
    color: orange;
    font-weight: bold;
}




/*Personagens*/

.mettaton {
    position: absolute;
    left: 60px;
    top: 180px;
    height: 220px;
}

.alphys {
    position: absolute;
    right: 60px;
    top: 180px;
    height: 220px;
}

/*Caixa principal do quiz*/

.containerQuiz {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

/*Caixa da pergunta*/

.caixaPergunta {
    width: 60%;
    margin: auto;
    background: #777;
    border-radius: 10px;
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
}

/*Respostas*/

.areaRespostas {
    margin-top: 40px;
    padding: 20px;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.textoResp {
    font-size: 22px;
    margin: 0 10px;
}

.letra {
    width: 45px;
    height: 45px;
    border: 4px solid green;
    color: green;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    font-weight: bold;
}



/*Botões NEXT */

.botoesNavegacao {
    margin-top: 25px;
    border: 3px solid white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.botaoNEXT {
    background: black;
    border: 2px solid orange;
    color: orange;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
}

.botaoSelecionar{
    background: black;
    border: 2px solid orange;
    color: orange;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
}


