
/* CONFIGURAÇÃO GERAL DA PÁGINA */


body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
}

.divPaginaToda {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* NAVBAR */


.Navbar {
    width: 90%;
    background-color: black;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.logoSite {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
}

.botoes1 label {
    background-color: black;
    border-radius: 5px;
    border: 2px solid orange;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.botoes1 .inicio {
    border-color: #F5FF0C;
}

.loginCadastro label {
    background-color: black;
    border: 2px solid orange;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.loginCadastro a {
    color: orange;
    text-decoration: none;
}




/* CARD SUPERIOR (FUNDO CINZA 1) */


.cardCinzaFundo1 {
    width: 90%;
    background-color: #38363C;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}

/* .cardCinzaFundo1 img {
    width: 250px;
} */




/* CAIXA DE BOTÕES */
.cardCinzaFundo1 {
    width: 90%;
    background-color: #38363C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}



.caixaDeBotão {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 5px;
    padding: 15px;
}

.caixaDeBotão label {
    background-color: #000000;
    color: white;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;
}




/* ÁREA CINZA FUNDO 2 */


.cinzaFundo2 {
    width: 90%;
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}




/* CARD CINZA CLARO (SEÇÕES) */


.cinzaClaro {
    background-color: #888;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
}

.cinzaClaro .titulo h3 {
    background-color: #ccc;
    color: black;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
}

.textotitulo label {
    color: black;
}




/* SEÇÕES DAS ALMAS */


.cinzaClaro.alma {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #888;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.imagemAlma {
    width: 110px;
    margin-right: 20px;
}

.texto.alma label {
    color: black;
}




/* DIVISOR DE CORAÇÃO */


.divisor {
    margin: 20px 0;
}

.divisor img {
    width: 250px;
}




/* FOOTER */

.footer {

    background-color: black;
    text-align: center;
    padding: 10px;
    color: orange;
    border-top: 2px solid orange;
    margin-top: 20px;
}
