/* RESET */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #1a1a1a;
    color: white;
}








/*início do CSS da navbar*/ 
.Navbar {
    width: 90%;
    background-color: black;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.logoSite {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
}

.logoSiteGrande {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
}

.botoes1 .inicio {
    background-color: #000000;
    color: black;
    font-weight: bold;
    border: 2px solid #F5FF0C;
    border-radius: 5px;
    margin:  5px;
    padding: 5px 10px;
    cursor: pointer;
}

.botoes1 .quiz {
    background-color: rgb(0, 0, 0);
    color: black;
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}


.loginCadastro label {
    background-color: black;
    border: 2px solid orange;
    margin-left: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}
/*fim do CSS da navbar*/







/* BOTÕES LADO DIREITO */

.nav-right {
    display: flex;
    gap: 10px;
}

.btn-login {
    border: 2px solid yellow;
    color: yellow;
    background: none;
    padding: 8px 20px;
    font-size: 18px;
    cursor: pointer;
}

.btn-cadastrar {
    border: 2px solid orange;
    color: orange;
    background: none;
    padding: 8px 20px;
    font-size: 18px;
    cursor: pointer;
}




/*  CONTEÚDO CENTRAL  */

.container {
    background-color: #3d3c41;
    margin: 20px auto;
    width: 90%;
    padding-bottom: 60px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-central {
    width: 130px;
    height: 90px;
    background: white;
    color: black;
    margin-top: 25px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* CAIXA LOGIN */

.caixa-login {
    background: black;
    border: 4px solid white;
    width: 60%;
    padding: 25px;
    margin-top: 30px;
}

.caixa-login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 20px;
}

input {
    background: none;
    border: 2px solid orange;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.btn-start {
    width: 120px;
    padding: 8px;
    font-size: 20px;
    background: none;
    border: 2px solid orange;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}

.registro {
    text-align: center;
    margin-top: 5px;
}

.registro a {
    color: red;
    text-decoration: none;
}

