/* ======== CONFIGURAÇÕES GERAIS ======== */

body {
    margin: 0;
    background-color: black;
    font-family: Arial;
    color: white;
}

.pagina {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* ======== NAVBAR ======== */

.navbar {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    border-bottom: 3px solid #ffa200;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoSite {
    background: white;
    color: black;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 20px;
}

/* Botões INÍCIO e QUIZ */
.botoesNav button {
    background: black;
    border: 2px solid orange;
    padding: 10px 18px;
    margin: 0 10px;
    color: orange;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

/* Botões Login / Cadastrar */
.loginBtn {
    background: black;
    color: yellow;
    border: 2px solid yellow;
    padding: 8px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.cadastrarBtn {
    background: black;
    color: white;
    border: 2px solid white;
    padding: 8px 20px;
    cursor: pointer;
}



/* ======== Área Central ======== */

.conteudo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoMeio {
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}

/* ======== CARD DE LOGIN ======== */

.cardLogin {
    width: 45%;
    background: black;
    border: 4px solid white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardLogin label {
    width: 80%;
    margin-top: 15px;
    font-size: 18px;
}

.cardLogin input {
    width: 80%;
    padding: 10px;
    border: 2px solid orange;
    background: black;
    color: orange;
    font-size: 16px;
}

.startBtn {
    margin-top: 20px;
    padding: 10px 30px;
    background: black;
    border: 2px solid orange;
    color: orange;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.loginTxt {
    margin-top: 15px;
    font-size: 16px;
}

.loginTxt a {
    color: red;
}

/* ======== FOOTER ======== */

.footer {
    width: 100%;
    background: #111;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 3px solid orange;
}
